[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"


[tool.black]
line-length = 120
skip-string-normalization = true


[tool.interrogate]
verbose = 2
fail-under = 95
exclude = ["tests"]
ignore-init-module = true
ignore-init-method = true


[tool.isort]
line_length = 120
lines_after_imports = 2
sections = ["FUTURE", "STDLIB", "THIRDPARTY", "FIRSTPARTY", "LOCALFOLDER"]
known_first_party = ["szurubooru_toolkit"]
known_local_folder = ["src/szurubooru_toolkit"]
multi_line_output = 3
force_single_line = true


[tool.mypy]
warn_return_any = false
warn_unused_configs = true
ignore_missing_imports = true
follow_imports = "silent"
check_untyped_defs = true
disallow_incomplete_defs = true
disallow_untyped_defs = true


[tool.poetry]
name = "szurubooru-toolkit"
version = "0.9.1"
description = "Python package and script collection to manage szurubooru."
authors = ["reluce <reluce@fkosquad.moe>"]
license = "GPL-3.0-only"
readme = "README.md"
repository = "https://github.com/reluce/szurubooru-toolkit"
documentation = "https://github.com/reluce/szurubooru-toolkit"
keywords = ["szurubooru", "szuru", "booru", "saucenao", "deepbooru"]

[tool.poetry.scripts]
auto-tagger = 'szurubooru_toolkit.scripts.auto_tagger:main'
upload-media = 'szurubooru_toolkit.scripts.upload_media:main'
create-tags = 'szurubooru_toolkit.scripts.create_tags:main'
create-relations = 'szurubooru_toolkit.scripts.create_relations:main'
import-from-url = 'szurubooru_toolkit.scripts.import_from_url:main'
import-from-booru = 'szurubooru_toolkit.scripts.import_from_booru:main'
import-from-twitter = 'szurubooru_toolkit.scripts.import_from_twitter:main'
tag-posts = 'szurubooru_toolkit.scripts.tag_posts:main'
delete-posts = 'szurubooru_toolkit.scripts.delete_posts:main'
reset-posts = 'szurubooru_toolkit.scripts.reset_posts:main'
# szuru-toolkit = 'szurubooru_toolkit.scripts.szuru_toolkit:cli'

[tool.poetry.dependencies]
python = ">=3.11,<3.12"
beautifulsoup4="^4.10.0"
Pillow = "^9.5.0"
Pybooru="^4.2.2"
pygelbooru="^0.5.0"
pysaucenao="^1.6.1"
requests="^2.25.1"
tqdm="^4.65.0"
tensorflow="^2.12.0"
keras="^2.12.0"
numpy="^1.23.5"
pyszuru="^0.3.1"
syncer = "^2.0.3"
loguru = "^0.7.0"
pathvalidate = "^2.5.2"
validators = "^0.20.0"
lxml = "^4.9.2"
tweepy = "^4.14.0"
gallery-dl = "^1.25.4"
cunnypy = "^2.0.0"
tldextract = "^3.4.4"

[tool.poetry.dev-dependencies]
black = "^22.1.0"
flake8 = "^4.0.1"
interrogate = "^1.5.0"
isort = "^5.10.1"
mkdocs = "^1.2.3"
mkdocs-material = "^8.2.5"
mkdocstrings = "^0.18.1"
mypy = "^0.941"
pre-commit = "^2.17.0"
Pygments = "^2.11.2"
pytest = "^7.1.0"
pytest-cov = "^3.0.0"
