body {
  background-color: #f0f0f0;
  color: #000;
}

body.dark-mode {
  background-color: #353641;
  color: #fff;
}

body {
    padding: 20px;
}

button {
    background-color: #3498db;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    white-space: nowrap; /* Prevent line breaks */
}

button:hover {
    background-color: #2980b9;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    white-space: nowrap; /* Prevent line breaks */
    text-align: center; /* Center align the heading */
}

#inputCookieLocation, #inputRange {
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box; /* Include padding in the width */
}

#extension-icon {
    width: 64px;
    height: 64px;
    display: block;
    margin: 0 auto; /* Center the icon horizontally */
}
